@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display&family=Roboto+Condensed&display=swap');
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Big Shoulders Inline Display', cursive;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
}

/* Header */

.header{
  min-height: 100vh;
  min-width: 100vw;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("https://images.unsplash.com/photo-1511800453077-8c0afa94175f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTB8fHB1cnBsZXxlbnwwfHwwfA%3D%3D&auto=format&fit=crop&w=400&q=60");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav{
  background: none;
  min-width: 100vw;
  display: flex;
  margin: auto;
  padding-top:20px;
}

img{
  width:50px;
  height:50px;
  border-radius: 50%;
  
}

.intro{
  width:50%;
  height:50%;
  margin:auto;
  padding-top:10%;
  color: white;
}

.name{
  font-size: 36px;
}

/* Content */


.content{
  min-height: 100vh;
  min-width: 100vw;
  background: #241E42;
}

.about{
  display: flex;
  padding:10% 5% 10% 5%;
}

/* Resume */

.resume{
  min-height: 100vh;
  min-width: 100vw;
  background: #855674;
}

.education,.experience,.skills{
  display: grid;
  grid-template-columns: 50% 50%;
  min-width: 100vw;
  min-height: 20vh;
  text-align: left;
  padding:5% 0 0 8%;
}

h1, h2{
  color: white;
}

/* Portfolio */

.portfolio{
   min-height: 120vh;
   min-width: 100vw;
   /* background: rgb(33, 31, 31); */
   background: #936b84;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   padding:5% 0 0 5%;
}


/* Contact */

.contact{
  min-width: 100vw;
  height: 40vh;
  background:  #a07d93;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  text-align: left;
  padding-top: 2%;
}

.container{
  margin: auto;
}
/* Footer */

.footer{
  min-width: 100vw;
  min-height: 10vh;
  text-align: center;
  background: #936b84;
  color: white;
}
